<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../../Scripts/angular.min.js"></script>
    <meta charset="utf-8" />
</head>
<body ng-app="myApp" ng-controller="testController">
    <script>
        var app = angular.module("myApp", []);
        app.controller("testController", function ($scope) {
            $scope.PersonalDetails = [{ FirstName: 'Eswar', LastName: 'Reddy' },
            { FirstName: 'Gopal', LastName: 'Reddy' },
            { FirstName: 'Siva', LastName: 'Sankara' },
            { FirstName: 'Krishna', LastName: 'Sankara' },
            { FirstName: 'Krishna', LastName: 'Gokule' }]

            $scope.FullName = function (person) {
                return person.FirstName + ' ' + person.LastName;
            };
            $scope.selectedValue = "";
            $scope.searchDetails = function (thisName) {
                $scope.searchedDetails = { FirstName: thisName };
            };
        });
    </script>
    <div>
        <select ng-options="details.FirstName for details in PersonalDetails" ng-model="selectedValue"></select>
        {{selectedValue}}
    </div>
    <br />
    <div>
        <select ng-options="FullName(details) for details in PersonalDetails" ng-model="selectedValue"></select>
        {{selectedValue}}
    </div>
    <br />
    <div>
        <select ng-options="details.FirstName for details in PersonalDetails" ng-model="searchedDetails"></select>
        {{searchedDetails}}
    </div>
    <br />
    <div>
        <select ng-options="details.FirstName group by details.LastName for details in PersonalDetails" ng-model="selectedValue"></select>
    </div>
    <br />
    <div>
        <input type="text" ng-model="searchedDetails" ng-change="searchDetails(thisName)" />
        {{searchedDetails}}
    </div>
</body>
</html>