<h2>Create</h2>
<form class="form-horizontal" name="frmAddUser" ng-submit="createUser(user)" novalidate>
    <h4>Create new user</h4>
    <hr />
    <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
            <input type="text" name="name" class="form-control" ng-model="user.Name" required ng-maxlength="30" />
            <span class="text-danger" ng-show="(frmAddUser.name.$touched || frmAddUser.name.$dirty) && frmAddUser.name.$invalid">
                <span ng-show="frmAddUser.name.$error.required">Name is required</span>
                <span ng-show="frmAddUser.name.$error.maxlength">Name must be less than or equal to 30</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
            <input type="email" name="email" class="form-control" ng-model="user.Email" required ng-maxlength="50" />
            <span class="text-danger" ng-show="(frmAddUser.email.$touched || frmAddUser.email.$dirty) && frmAddUser.email.$invalid">
                <span ng-show="frmAddUser.email.$error.required">Email is required</span>
                <span ng-show="frmAddUser.email.$error.email">Invalid email address</span>
                <span ng-show="frmAddUser.email.$error.maxlength">Email must be less than or equal to 50</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Address</label>
        <div class="col-lg-10">
            <input type="text" name="address" class="form-control" ng-model="user.Address" required ng-maxlength="100" />
            <span class="text-danger" ng-show="(frmAddUser.address.$touched || frmAddUser.address.$dirty) && frmAddUser.address.$invalid">
                <span ng-show="frmAddUser.address.$error.required">Address is required</span>
                <span ng-show="frmAddUser.address.$error.maxlength">Email must be less than or equla to 100</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" class="btn btn-success" value="Create" ng-disabled="frmAddUser.$invalid" />
            <a href="#/" class="bnt btn-default">Cancel</a>
        </div>
    </div>
</form>