<h2>Uesr</h2>
<a href="#/adduser" class="btn btn-primary">Create</a>
<div class="panel panel-default">
    <div class="panel-heading">
        List User
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group pull-left">
                   Search
                    <label><input type="text" class="form-control" ng-model="searchText" /></label>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pull-right">
                    Show
                    <label>
                        <select class="form-control" ng-model="itemsPerPage">
                            <option ng-value="1">1</option>
                            <option ng-value="2">2</option>
                            <option ng-value="5">5</option>
                            <option ng-value="10">10</option>
                            <option ng-value="20">20</option>
                        </select>
                    </label>
                    Entries
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th ng-click="sortBy('Name')">
                        Name
                        <span class="glyphicon" ng-show="sortColumn=='Name'" ng-class="{'glyphicon-triangle-top':!reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                    </th>
                    <th ng-click="sortBy('Email')">
                        Email
                        <span class="glyphicon" ng-show="sortColumn=='Email'" ng-class="{'glyphicon-triangle-top':!reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                    </th>
                    <th ng-click="sortBy('Address')">
                        Address
                        <span class="glyphicon" ng-show="sortColumn=='Address'" ng-class="{'glyphicon-triangle-top':!reverse, 'glyphicon-triangle-bottom': reverse}"></span>
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!--| filter: searchText--> 
                <tr ng-repeat="user in users | orderBy: sortColumn: reverse | limitTo: itemsPerPage: (currentPage-1) * itemsPerPage">
                    <td>{{user.Name}}</td>
                    <td>{{user.Email}}</td>
                    <td>{{user.Address}}</td>
                    <td>
                        <a href="#/edituser/{{user.Id}}">Edit</a> |
                        <a href="" ng-click="deleteUser(user.Id)">Delete</a>
                    </td>
                </tr>
                <!--| filter: searchText-->
                <tr ng-if="!users || users.length ==0">
                    <td colspan="4" style="text-align:center">No data found</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-6">
                <div class="pull-left">
                    <br />
                    <pre>Pages: {{currentPage}}/{{numPages}}</pre>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pull-right">
                    <ul uib-pagination total-items="users.length" ng-model="currentPage" max-size="5" items-per-page="itemsPerPage" boundary-links="true" num-pages="numPages"></ul>
                </div>
            </div>
        </div>
    </div>
</div>