<div class="jumbotron">
    <h1>Single Page Application (SPA)</h1>
    <h2><a href="http://techfunda.com" target="_blank">TechFunda.com</a></h2>
    TechFunda is a free How to web technologies tutorials website. Enjoy your learning in How to manner that are based on real time problem solutions. If you have a how to problem to ask, please ask here.
    <br /><br />
    <span class="text-success">Keep coming, new how to are being submitted every day !</span>
</div>